In [1]:
import pandas as pd
import numpy as np

In [2]:
nrl = pd.read_csv('nrl_score_data.csv')

In [3]:
nrl.head()

,Date,Kick-off (local),Home Team,Away Team,Venue,Home Score,Away Score
0,25-Apr-23,19:00,Melbourne Storm,New Zealand Warriors,AAMI Park,30,22
1,25-Apr-23,16:05,Sydney Roosters,St George Dragons,Allianz Stadium,27,26
2,23-Apr-23,16:05,Wests Tigers,Manly Sea Eagles,Campbelltown Stadium,16,22
3,23-Apr-23,14:00,Dolphins,Gold Coast Titans,Suncorp Stadium,28,26
4,22-Apr-23,19:35,North QLD Cowboys,Newcastle Knights,QCB Stadium,18,16

In [4]:
nrl.dtypes

Date                object
Kick-off (local)    object
Home Team           object
Away Team           object
Venue               object
Home Score           int64
Away Score           int64
dtype: object

In [5]:
nrl['Date'] = pd.to_datetime(nrl['Date'])

In [6]:
nrl = nrl.drop('Kick-off (local)', axis=1)

In [18]:
convert_dict = {'Home Team': 'string', 'Away Team': 'string', 'Venue': 'string'}
convert_dict

{'Home Team': 'string', 'Away Team': 'string', 'Venue': 'string'}

In [19]:
nrl = nrl.astype(convert_dict)

In [20]:
nrl.dtypes

Date          datetime64[ns]
Home Team             string
Away Team             string
Venue                 string
Home Score             int64
Away Score             int64
dtype: object

In [21]:
nrl.head()

,Date,Home Team,Away Team,Venue,Home Score,Away Score
0,2023-04-25,Melbourne Storm,New Zealand Warriors,AAMI Park,30,22
1,2023-04-25,Sydney Roosters,St George Dragons,Allianz Stadium,27,26
2,2023-04-23,Wests Tigers,Manly Sea Eagles,Campbelltown Stadium,16,22
3,2023-04-23,Dolphins,Gold Coast Titans,Suncorp Stadium,28,26
4,2023-04-22,North QLD Cowboys,Newcastle Knights,QCB Stadium,18,16

In [22]:
nrl_23 = nrl[nrl['Date'] > '2023-01-01']

In [23]:
nrl_23.head()

,Date,Home Team,Away Team,Venue,Home Score,Away Score
0,2023-04-25,Melbourne Storm,New Zealand Warriors,AAMI Park,30,22
1,2023-04-25,Sydney Roosters,St George Dragons,Allianz Stadium,27,26
2,2023-04-23,Wests Tigers,Manly Sea Eagles,Campbelltown Stadium,16,22
3,2023-04-23,Dolphins,Gold Coast Titans,Suncorp Stadium,28,26
4,2023-04-22,North QLD Cowboys,Newcastle Knights,QCB Stadium,18,16

In [24]:
nrl_scores = nrl[nrl['Date'] < '2023-01-01']

In [25]:
nrl_scores.count()

Date          2782
Home Team     2782
Away Team     2782
Venue         2782
Home Score    2782
Away Score    2782
dtype: int64

In [27]:
nrl_scores = nrl_scores.reset_index(drop=True)

In [28]:
nrl_scores.head()

,Date,Home Team,Away Team,Venue,Home Score,Away Score
0,2022-10-02,Penrith Panthers,Parramatta Eels,Accor Stadium,28,12
1,2022-09-24,Penrith Panthers,South Sydney Rabbitohs,Accor Stadium,32,12
2,2022-09-23,North QLD Cowboys,Parramatta Eels,QCB Stadium,20,24
3,2022-09-17,Cronulla Sharks,South Sydney Rabbitohs,Allianz Stadium,12,38
4,2022-09-16,Parramatta Eels,Canberra Raiders,CommBank Stadium,40,4

In [29]:
nrl_23.to_csv('2023_nrl.csv')

In [30]:
nrl_scores.to_csv('past_nrl_scores.csv')